

@{ 
    @using MarketIO.BLL.Repositories
    var Admin = AccountRepository.Admin;
}

<script>
   
</script>
<div class="sidebar-header">
    <div class="user-pic">
        <img class="img-responsive img-rounded" src= "https://localhost:44381\@Html.DisplayFor(model => Admin.Image)" alt="User picture">
    </div>
    <div class="user-info">
        <span class="user-name">
            @Html.DisplayFor(model => Admin.UserName)
        </span>
        <span class="user-name">
            @Html.DisplayFor(model => Admin.Email)
        </span>
        <span class="user-role">Administrator</span>
        <span class="user-status">
            <i class="fa fa-circle"></i>
            <span>Online</span>
        </span>
    </div>
</div>


