@model HomeViewModel
@{
    ViewData["Title"] = "Home Page";
}

<h2>products of the week</h2>
<h4>Our weekly selection - just for you!</h4>

<div class="row">

    @foreach (var product in Model.ProductsOfTheWeak)
    {
        <partial name="_ProductCard" model="product" />
    }

</div>