@model ProductsListViewModel


<h1>@Model.CurrentCategory</h1>

<div class="row">
    @foreach (var product in Model.Products)
    {
        <partial name="_ProductCard" model="product" />
    }
</div>