@model CategoryAndBrandViewModel

<li class="dropdown">
    <a asp-controller="Products"
       asp-action="List"
       class="dropdown-toggle" data-toggle="dropdown">Products</a>
    <ul class="dropdown-menu">
        @foreach (var category in Model.Categories)
        {
            <li>
                <a asp-controller="Products" asp-action="List"
                   asp-route-category="@category.Cat_Name">@category.Cat_Name</a>
            </li>
        }
        <li class="divider"> Brands</li>
        @foreach (var brand in Model.Brands)
        {
            <li>
                <a asp-controller="Products" asp-action="List"
                   asp-route-Brand="@brand.Brand_Name">@brand.Brand_Name</a>
            </li>
        }
        <li class="divider"></li>
        <li>
            <a asp-controller="Products" asp-action="List" asp-route-Brand="">View all products</a>
        </li>
    </ul>
</li>