@model ProductEditViewModel


<h2>Create a new product</h2>

<form asp-controller="ProductsManagement" asp-action="AddProduct" enctype="multipart/form-data"
      method="post" class="form-horizontal" role="form">

    <h4>Enter the product details below</h4>
    <hr />
    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="form-group">
        <label asp-for="Product.P_Name" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Product.P_Name" class="form-control" />
            <span asp-validation-for="Product.P_Name" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Product.Description" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Product.Description" class="form-control" />
            <span asp-validation-for="Product.Description" class="text-danger"></span>
        </div>
    </div>


    <div class="form-group">
        <label asp-for="Product.Price" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Product.Price" class="form-control" />
            <span asp-validation-for="Product.Price" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Product.Quantity" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Product.Quantity" class="form-control" />
            <span asp-validation-for="Product.Quantity" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Product.Evaluation" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Product.Evaluation" class="form-control" />
            <span asp-validation-for="Product.Evaluation" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Photo" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Photo" class="form-control" />
            <span asp-validation-for="Photo" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Product.InStock" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Product.InStock" class="form-control" />
            <span asp-validation-for="Product.InStock" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Product.IsProductOfTheWeek" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Product.IsProductOfTheWeek" class="form-control" />
            <span asp-validation-for="Product.IsProductOfTheWeek" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Categories" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <select asp-for="CategoryId" class="form-control"
                    asp-items="Model.Categories"></select>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Brands" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <select asp-for="BrandId" class="form-control"
                    asp-items="Model.Brands"></select>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-primary" value="Create Product" />
        </div>
    </div>
</form>